@import "tailwindcss";

*,
*::before,
&::after {
  outline: #3964FE;
}

:root {
  --primary: #3964FE;
}


@theme {
  --color-primary: var(--primary);
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} */

